# Eclipse stuff
/.classpath
/.project
/.settings

# netbeans
/nbproject

# maven
/build.xml
/target

# vim
.*.sw[a-p]

# various other potential build files
/build
/bin
/dist
/manifest.mf
/out

/world

# Mac filesystem dust
/.DS_Store
*.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/
output/

pom.xml
lib/
target/
jar/